### Atributos de Archivos de datos recopilados. Tráfico de Madrid.

In [3]:
## revisamos los atributos de los datos. Trafico de Madrid.
import pandas as pd
import numpy as np
%matplotlib inline

In [8]:
# leemos el archivo 1.
datos = pd.read_csv('TrafMadridintM30.csv')
datos.head()

         FDIA         ID
0  2020-01-01  1700376.0
1  2020-01-02  2878926.0
2  2020-01-03  2734260.0
3  2020-01-04  2189156.0
4  2020-01-05  1792834.0

In [9]:
def descripcionDatosDataset(datos):
    print("Cantidad de filas:", datos.shape[0])
    print("Cantidad de columnas:", datos.shape[1])
    print('-'*100)
    for columna in datos.columns:
        valoresDescripcion = ''
        tipo = ''
        if datos[columna].dtype == 'float64' or datos[columna].dtype == 'int64':
            tipo = 'numérico'
            valoresDescripcion = datos[columna].agg(['min', 'max', 'mean', 'std', 'median'])
        else:
            tipo = 'nominal' #categórico | string | no-numérico
            valoresDescripcion = {'valoresPresentes' : datos[columna].unique(), 
                                  'cantidadNulos' : datos[columna].isna().sum()}
                                 #'conteoValores' : pd.value_counts(datos[columna])}
        print('Columna: ' + columna)
        print('Tipo de datos: ' + tipo)
        print('Descripción de valores:')
        if tipo == 'numérico':
            print(valoresDescripcion)
        else:
            print('-- Valores presentes (10 primeros): ' + str(valoresDescripcion['valoresPresentes'][:10]))
            pctNulos = (valoresDescripcion['cantidadNulos'] / datos.shape[0]) * 100
            print('-- Cantidad de nulos: ' + str(valoresDescripcion['cantidadNulos']) + ' = ' + "{0:.2f}".format(pctNulos) + '%')
        print('-'*100)

In [10]:
descripcionDatosDataset(datos)

Cantidad de filas: 578
Cantidad de columnas: 2
----------------------------------------------------------------------------------------------------
Columna: FDIA
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['2020-01-01' '2020-01-02' '2020-01-03' '2020-01-04' '2020-01-05'
 '2020-01-06' '2020-01-07' '2020-01-08' '2020-01-09' '2020-01-10']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: ID
Tipo de datos: numérico
Descripción de valores:
min       5.928900e+04
max       3.236100e+06
mean      1.083754e+06
std       5.491462e+05
median    1.133201e+06
Name: ID, dtype: float64
----------------------------------------------------------------------------------------------------

In [13]:
# leemos el archivo 2.
datos = pd.read_csv('TrafMadridM30M40.csv')
datos.head()

         FDIA        ID
0  2020-01-01  390716.0
1  2020-01-02  638514.0
2  2020-01-03  592706.0
3  2020-01-04  457556.0
4  2020-01-05  406504.0

In [14]:
descripcionDatosDataset(datos)

Cantidad de filas: 578
Cantidad de columnas: 2
----------------------------------------------------------------------------------------------------
Columna: FDIA
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['2020-01-01' '2020-01-02' '2020-01-03' '2020-01-04' '2020-01-05'
 '2020-01-06' '2020-01-07' '2020-01-08' '2020-01-09' '2020-01-10']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: ID
Tipo de datos: numérico
Descripción de valores:
min        31985.000000
max       661384.000000
mean      248683.512111
std       117360.246840
median    256471.500000
Name: ID, dtype: float64
----------------------------------------------------------------------------------------------------

In [16]:
# leemos el archivo 3.
datos = pd.read_csv('TrafMadrid60.csv')
datos.head()

         FDIA         ID
0  2020-01-01  2850036.0
1  2020-01-02  4552200.0
2  2020-01-03  4331020.0
3  2020-01-04  3450572.0
4  2020-01-05  2931486.0

In [17]:
descripcionDatosDataset(datos)

Cantidad de filas: 578
Cantidad de columnas: 2
----------------------------------------------------------------------------------------------------
Columna: FDIA
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['2020-01-01' '2020-01-02' '2020-01-03' '2020-01-04' '2020-01-05'
 '2020-01-06' '2020-01-07' '2020-01-08' '2020-01-09' '2020-01-10']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: ID
Tipo de datos: numérico
Descripción de valores:
min       1.490220e+05
max       5.055650e+06
mean      1.747499e+06
std       8.526286e+05
median    1.856031e+06
Name: ID, dtype: float64
----------------------------------------------------------------------------------------------------