### Atributos de Archivos de datos recopilados. 
### Tráfico calle Bravo Murillo.

In [1]:
## revisamos los atributos de los datos. Trafico de Calle Bravo Murillo. E19.
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
# leemos el archivo 4.
datos = pd.read_csv('TrafE19BrMur1.csv')
datos.head()

         FDIA       ID
0  2020-01-01  18396.0
1  2020-01-02  30960.0
2  2020-01-03  32810.0
3  2020-01-04  25920.0
4  2020-01-05  31078.0

In [3]:
def descripcionDatosDataset(datos):
    print("Cantidad de filas:", datos.shape[0])
    print("Cantidad de columnas:", datos.shape[1])
    print('-'*100)
    for columna in datos.columns:
        valoresDescripcion = ''
        tipo = ''
        if datos[columna].dtype == 'float64' or datos[columna].dtype == 'int64':
            tipo = 'numérico'
            valoresDescripcion = datos[columna].agg(['min', 'max', 'mean', 'std', 'median'])
        else:
            tipo = 'nominal' #categórico | string | no-numérico
            valoresDescripcion = {'valoresPresentes' : datos[columna].unique(), 
                                  'cantidadNulos' : datos[columna].isna().sum()}
                                 #'conteoValores' : pd.value_counts(datos[columna])}
        print('Columna: ' + columna)
        print('Tipo de datos: ' + tipo)
        print('Descripción de valores:')
        if tipo == 'numérico':
            print(valoresDescripcion)
        else:
            print('-- Valores presentes (10 primeros): ' + str(valoresDescripcion['valoresPresentes'][:10]))
            pctNulos = (valoresDescripcion['cantidadNulos'] / datos.shape[0]) * 100
            print('-- Cantidad de nulos: ' + str(valoresDescripcion['cantidadNulos']) + ' = ' + "{0:.2f}".format(pctNulos) + '%')
        print('-'*100)

In [4]:
descripcionDatosDataset(datos)

Cantidad de filas: 578
Cantidad de columnas: 2
----------------------------------------------------------------------------------------------------
Columna: FDIA
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['2020-01-01' '2020-01-02' '2020-01-03' '2020-01-04' '2020-01-05'
 '2020-01-06' '2020-01-07' '2020-01-08' '2020-01-09' '2020-01-10']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: ID
Tipo de datos: numérico
Descripción de valores:
min          93.000000
max       39666.000000
mean      12568.432526
std        6472.346649
median    12761.500000
Name: ID, dtype: float64
----------------------------------------------------------------------------------------------------

In [8]:
# leemos el archivo 5.
datos = pd.read_csv('TrafhorasE19BrMur1sentv6.csv')
datos.head()

              time  value
0  2021-06-01 1:00   51.0
1  2021-06-01 2:00   14.0
2  2021-06-01 3:00   10.0
3  2021-06-01 4:00    6.0
4  2021-06-01 5:00    7.0

In [9]:
descripcionDatosDataset(datos)

Cantidad de filas: 1464
Cantidad de columnas: 2
----------------------------------------------------------------------------------------------------
Columna: time
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['2021-06-01 1:00' '2021-06-01 2:00' '2021-06-01 3:00' '2021-06-01 4:00'
 '2021-06-01 5:00' '2021-06-01 6:00' '2021-06-01 7:00' '2021-06-01 8:00'
 '2021-06-01 9:00' '2021-06-01 10:00']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: value
Tipo de datos: numérico
Descripción de valores:
min          5.000000
max       1116.000000
mean       451.989754
std        271.814903
median     477.000000
Name: value, dtype: float64
----------------------------------------------------------------------------------------------------